[submodule "ThirdParty/Binaries"]
	path = ThirdParty/Binaries
	url = https://github.com/TechnologicalPizza/GameBinaries

[submodule "ThirdParty/GeneralShare"]
	path = ThirdParty/GeneralShare
	url = https://github.com/TechnologicalPizza/GeneralShare
	
[submodule "ThirdParty/AtlasShare"]
	path = ThirdParty/AtlasShare
	url = https://github.com/TechnologicalPizza/AtlasShare
